<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="stacked">Voice & Language</ion-label>
    <ion-select placeholder="Select One"
      [(ngModel)]="settings.voice">
      <ion-select-option *ngFor="let v of voices" [value]="v">{{v.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Rate</ion-label>
    <ion-range min="0" max="100" value="10" pin="true" color="secondary"
      [(ngModel)]="settings.rate">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Pitch</ion-label>
    <ion-range min="0" max="20" value="10" pin="true" color="secondary"
    [(ngModel)]="settings.pitch">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">20</ion-label>
    </ion-range>
  </ion-item>
  <ion-button expand="full" color="warning" (click)="testAudio()"
    [disabled]="!settings.voice">Test audio</ion-button>


</ion-content>